:root {
  --background: #151515;
  --text: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: black; /* Black */
  font-style: normal;
}

/* Appliquer la police par défaut */
body {
  font-family: 'Montserrat', sans-serif; /* Police par défaut pour le texte */
  font-weight: normal;
  background-color: var(--background); /* Couleur de fond */
  color: var(--text); /* Couleur du texte */
}

/* Styles pour les titres */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Appliquer Montserrat pour les titres */
  font-weight: black; /* Utiliser le poids Black pour les titres */
}